# Docker
docker-compose.yml
docker-compose.test.yml
Dockerfile
Dockerfile.test
.docker
.dockerignore

# Git
.git
.gitignore
.gitattributes

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
.idea/
.vscode/
